$base-font-family: 'Computer Modern Sans', sans-serif !default;
$code-font-family: 'Computer Modern Typewriter', monospace;

$brand-color:       #828282 !default;

$content-width:    1000px;
$on-laptop:        1000px;
