body {
  font-size: 21px;
  line-height: 1.4;
}

blockquote {
  font-size: inherit;
  line-height: inherit;
}

code, pre, kbd, samp {
  font-family: $code-font-family;
}

code, kbd, samp {
  font-size: 0.95em;
}

code.highlighter-rouge {
  font-size: 0.95em;
}

pre {
  font-size: 19px;
  line-height: 1.2;
}

pre code {
  font-size: inherit;
}

.PageNavigation {
  font-size: 20px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .prev {
  text-align: left;
}

.PageNavigation .next {
  text-align: right;
}

.MaghJax_Display {
  overflow-x: auto;
  white-space: nowrap;
}

.nextprevlink {
  @include relative-font-size(1.25);
  flex: 1 1 0;
  width: 45%;
}
